.top_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.right_menu_button > button{
    border: 0;
    border-width: 0px;
    background-color: transparent;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}
.discount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.small_button{
    border-radius: 31.429px;
    background: #EC44AD;
    width: 126px;
    height: 30px;
    color: #FFF;
    text-align: center;
    font-family: 'Victor Mono', monospace;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;  
}
.small_button:hover{
    background: transparent;
    border-color: #EC44AD;
    color: #EC44AD;
}
.prev_discount > p{
    color: #3A3A3A;
    text-align: center;
    font-family: 'Victor Mono', monospace;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
.before_after{
    display: flex;
    flex-direction: row;

}
p{
    font-family: 'Victor Mono', monospace;
}
.one_two_button{
    margin: 20px;
    width: 358px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.one_two_buttonleft{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: #933CA8;
    background-color: transparent;
    color: #933CA8;
    width: 174px;
}
.one_two_buttonright{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #933CA8;
    background-color: #933CA8;
    color: #FFF;
    width: 174px;
}
.discount_red{
    border-radius: 12.789px;
    background: #FE1F62;
    height:35px;
    width: 350px;
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.personal_plan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}
.plan_box{
    width: 358.082px;
    height: 97.194px;
    border-style: solid;
    border-width: 3px;
    border-color: #999999;
    border-radius: 12.789px; 
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

    
}
.plan_box_time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 15.904px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding: 15px;
}
.plan_box_time_round{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999999;
}
.plan_box_price{
    color: #999; 
    font-size: 15.904px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('plan_box_price_b.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15px;
}
#plan_box_p_price{
    color: #3A3A3A; 
    font-size: 30.693px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 42.97px */ 
}